body {
    /* background-color: #fafafa; */
    background: url("background.jpeg") center center;
    background-repeat: repeat;
    margin: 0;
    overflow-x:hidden;
}

#header {
    overflow: hidden;
    height: 15%;
    background-image: url("2.png");
    background-repeat: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
}

#title {
    color: whitesmoke;
    font-family: Rokkitt;
    font-size: 8vmin;
    text-shadow: 1px 1px 0px black;
}

.fade-in {
    opacity: 0;
    animation: appear 1.5s ease forwards;
}

.fade-out {
    opacity: 0;
    animation: disappear 1.5s ease forwards;
}

.move-down {
    animation: move 1.5s ease forwards;
}

.move-down-mobile {
    animation: move-mobile 1.5s ease forwards;
}

@keyframes appear{
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes disappear{
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes move {
    0% {    
    }
    100% {
        transform: translate(-50%, -10%);
    }
}

@keyframes move-mobile {
    0% {    
    }
    100% {
        transform: translate(-50%, 0%);
    }
}

#game-container {
    position: relative;
    height: 400px;
    width: 400px;
    max-width: 60vmin;
    max-height: 60vmin;
    left: 50%;
    transform: translate(-50%, -20%);
    border: 5px ridge gray;
}


#sticker-container {
    user-select: none;
    pointer-events: none;
    display: grid;
    padding: 10px;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.sticker {
    width: 100%;
    max-height: 100%;
    opacity: 0;
}

#start-btn {
    background-color: #4CAF50;
    font-family: Rokkitt;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 300%;
    color: white;
    padding: 3% 10%;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
}

#start-btn:hover {
    background-color: #3e8e41
}

#instructions-container {
    text-align: center;
    margin-left: 5vmin;
    margin-right: 5vmin;
    height: 15vmin;
}

#instructions {
    vertical-align: middle;
    visibility: hidden;
    font-size: 5vmin;
    font-family: Rokkitt;
    margin-left: 5%;
    margin-right: 5%;
}

#game {
    width: 100%;
    height: fit-content;
    display: block;
    margin-bottom: 5vmin;
}

#fb-root-container {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#credit {
    width: 100%;
    max-height: 100px;
    text-align: center;
    bottom: 0%;
    font-size: 12px;
}

#credit-link{
    color: blue;
}
